# ignore C++ compilation executables
FlowVectors
FlowVectors.dSYM/
slowmotion.dSYM

# ignore python cache
__pycache__/

# ignore Mac files
.DS_Store

# ignore vscode config settings
.vscode/

# ignore project dependent filenames
*.mp4
*.y4m
*.mkv
*.ckpt
tmp/*
