[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.10.2"
numpy = "==1.22.2"
pyzmq = "==22.3.0"
torchvision = "==0.11.3"
zmq = "==0.0.0"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
exe = "python ../../Source/PySrc/slowmotion.py --input ./akiyo_cif.y4m --output ./Outputs/akiyo_cif.mkv --FPS 25 --slowdown 4"
